* {
  padding: 0;
  margin: 0px; }

body {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  height: 100%; }

.dark p {
  color: white; }
.dark a {
  text-decoration: none; }
.dark h1 {
  color: var(--color-txt); }
.dark .conteudo #info p {
  color: var(--color-txt); }
.dark .conteudo #info h1 {
  color: var(--color-txt); }
.dark #sobre {
  background-color: #212121; }
  .dark #sobre p {
    color: var(--color-txt); }
  .dark #sobre .botoes #linkedin button {
    background-color: black; }
  .dark #sobre .botoes #cv button {
    background-color: black; }
.dark #projetos .projetos-container {
  box-shadow: 1px 1px 15px rgba(220, 220, 220, 0.85); }
.dark #conhecimentos .projetos-container {
  box-shadow: 1px 1px 15px rgba(220, 220, 220, 0.659); }
.dark footer {
  background-color: black;
  background-image: linear-gradient(black, black); }

main {
  display: relative; }
  main h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
    font-size: 45px;
    font-family: monospace; }
  @media (max-width: 576px) {
    main h1 {
      margin-left: 5%;
      font-size: 32px; } }
  main .conteudo {
    display: flex;
    min-height: 85vh;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around; }
    main .conteudo #info {
      display: flex;
      flex-direction: column;
      margin-top: 120px;
      margin-right: 50px;
      margin-left: 120px;
      margin-bottom: 50px;
      padding: 20px; }
      main .conteudo #info p {
        font-size: 20px;
        color: rgba(22, 22, 22, 0.672); }
        main .conteudo #info p img {
          width: 23px;
          vertical-align: bottom; }
      main .conteudo #info h1 {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0;
        font-size: 60px; }
        main .conteudo #info h1 p {
          display: inline;
          font-size: 28px; }
      main .conteudo #info #git {
        display: flex;
        justify-content: left;
        margin-top: 22px;
        padding-left: 6px; }
        main .conteudo #info #git button {
          cursor: pointer;
          font-family: 'Segoe UI';
          border-color: transparent;
          font-weight: bold;
          display: flex;
          font-size: 13px;
          justify-content: space-around;
          align-items: center;
          color: white;
          width: 160px;
          height: 45px;
          border-radius: 30px;
          background-color: var(--color-btn-git);
          border-width: 1px; }
        main .conteudo #info #git img {
          height: 28px;
          width: 28px; }
    main .conteudo #imagem {
      padding-right: 20px;
      margin-top: -80px; }
      main .conteudo #imagem svg {
        height: 100% !important;
        height: 600px !important;
        padding: 0px;
        margin: 0px; }
    @media (max-width: 576px) {
      main .conteudo {
        justify-content: left;
        align-items: flex-start; }
        main .conteudo #info {
          margin-bottom: 20px;
          margin-top: 40px;
          margin-left: 15px; }
          main .conteudo #info p {
            font-size: 20px; }
            main .conteudo #info p img {
              width: 19px;
              vertical-align: middle;
              padding-left: 2px; }
          main .conteudo #info h1 {
            font-size: 40px; }
          main .conteudo #info #git {
            margin: auto;
            padding-top: 30px; }
        main .conteudo #imagem {
          display: none; } }
  main #sobre {
    background: #FFDE66;
    display: flex;
    flex-direction: column; }
    main #sobre p {
      display: flex;
      margin-left: 10%;
      margin-right: 25%;
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    main #sobre .botoes {
      margin-top: 50px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      align-self: center; }
      main #sobre .botoes #linkedin {
        padding-right: 80px; }
        main #sobre .botoes #linkedin button {
          cursor: pointer;
          font-size: 20px;
          background-color: var(--color-btn-link);
          color: white;
          width: 150px;
          height: 40px;
          border-radius: 50px;
          border-color: transparent; }
      main #sobre .botoes #cv button {
        cursor: pointer;
        font-size: 20px;
        background-color: var(--color-btn-cv);
        color: white;
        width: 150px;
        height: 40px;
        border-radius: 50px;
        border-color: transparent; }
    @media (max-width: 576px) {
      main #sobre p {
        margin-left: 5%;
        margin-right: 4%; }
      main #sobre .botoes {
        margin-bottom: 100px; }
        main #sobre .botoes #linkedin button {
          font-size: 17px;
          width: 95px;
          height: 40px;
          border-radius: 10px; }
        main #sobre .botoes #cv button {
          font-size: 17px;
          width: 95px;
          height: 40px;
          border-radius: 10px; } }
  main #projetos {
    margin-top: 20px;
    margin-bottom: 100px; }
    main #projetos .projetos-container {
      display: flex;
      flex-direction: column;
      margin: auto;
      background-color: white;
      width: 300px;
      height: 300px;
      justify-content: center;
      box-shadow: 2px 2px 10px rgba(55, 55, 55, 0.604); }
      main #projetos .projetos-container #manutencao {
        display: flex;
        align-self: center;
        width: 50%;
        height: 50%; }
      main #projetos .projetos-container h3 {
        display: flex;
        align-self: center; }
    @media (max-width: 576px) {
      main #projetos .projetos-container {
        width: 250px;
        height: 250px; } }
  main #conhecimentos {
    display: flex;
    flex-direction: row; }
    main #conhecimentos .projetos-container {
      display: flex;
      flex-direction: column;
      margin-left: 150px;
      background-color: white;
      width: 250px;
      height: 250px;
      box-shadow: 2px 2px 10px rgba(55, 55, 55, 0.604); }
      main #conhecimentos .projetos-container .construcao2 {
        display: flex;
        align-self: center;
        width: 100%;
        height: 100%; }
      main #conhecimentos .projetos-container .construcao1 {
        display: flex;
        align-self: center;
        width: 100%;
        height: 100%; }
      main #conhecimentos .projetos-container .construcao {
        display: flex;
        align-self: center;
        width: 100%;
        height: 100%; }
      main #conhecimentos .projetos-container h3 {
        display: flex;
        align-self: center; }
    @media (max-width: 576px) {
      main #conhecimentos {
        flex-wrap: wrap;
        justify-content: center; }
        main #conhecimentos .projetos-container {
          margin-top: 20px;
          margin-left: 10px;
          width: 200px;
          height: 200px; } }

footer {
  margin-top: 60px;
  height: 60px;
  background-image: linear-gradient(#FFD151, #FFB24D);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; }

body {
  transition: all 0.6s ease-in;
  background: var(--color-clear); }

.dark {
  background-color: var(--color-dark);
  transition: all 0.6s ease-in; }
  .dark a {
    color: whitesmoke; }
  .dark header .toggle {
    border: 1px solid #131313;
    box-shadow: 1px 1px 4px rgba(250, 250, 250, 0.85); }
    .dark header .toggle #circle {
      background-color: rgba(21, 21, 21, 0.631);
      width: 75px;
      transition: width 0.4s cubic-bezier(0.07, 0.14, 0.73, 0.97);
      box-shadow: 2px 2px 3px rgba(94, 94, 94, 0.871); }
  .dark header .b-menu .b-bun {
    background: white; }
  .dark header .b-menu.open .tab {
    background: #1f1f1f;
    box-shadow: -3px 0px 16px rgba(241, 241, 241, 0.2); }
  .dark header .tab.open {
    background: #181818;
    box-shadow: -2px 0px 10px rgba(220, 220, 220, 0.659); }
  .dark #sun {
    transform: rotateX(90deg);
    transition: transform 0.4s cubic-bezier(0.64, 0.32, 0.56, 0.64); }
  .dark #moon {
    transform: rotateX(0deg);
    z-index: 1;
    transition: transform 0.4s cubic-bezier(0.64, 0.32, 0.56, 0.64); }
  .dark .barra {
    border-bottom: transparent; }

header {
  position: relative;
  margin-top: 5px;
  display: flex;
  padding: 8px;
  align-items: center; }
  header .tab {
    display: none; }
  header nav {
    font-family: 'Franklin Gothic Medium';
    font-size: 26px;
    display: flex;
    justify-content: center; }
    header nav a {
      color: black;
      text-decoration: none;
      margin-left: 50px;
      margin-bottom: 10px; }
    header nav .barra {
      position: absolute;
      border-bottom: 4px solid transparent;
      transform: rotateX(-10px);
      transition: all 0.8s ease-in-out;
      z-index: -1; }
  header .toggle {
    z-index: 2;
    display: flex;
    border-radius: 60px;
    height: 24px;
    width: 75px;
    border: 1px solid #f8c418;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.323); }
    header .toggle #circle {
      background-color: #FFFFA1;
      height: 26px;
      width: 26px;
      margin-top: -1px;
      border-radius: 40px;
      cursor: pointer;
      border: none;
      box-shadow: 2px 1px 7px #fbff04;
      transition: width 0.4s cubic-bezier(0.07, 0.14, 0.73, 0.97); }
  @media (max-width: 576px) {
    header {
      justify-content: space-between; }
      header nav {
        display: none; }
      header .b-menu {
        cursor: pointer;
        width: 60px;
        height: 60px;
        border-radius: 50%; }
        header .b-menu nav {
          display: none; }
        header .b-menu .b-bun {
          position: relative;
          background: black;
          transition: all .4s ease; }
          header .b-menu .b-bun--top {
            top: 20px;
            left: 10px;
            width: 40px;
            height: 3px; }
          header .b-menu .b-bun--mid {
            top: 26px;
            left: 10px;
            width: 40px;
            height: 3px; }
          header .b-menu .b-bun--bottom {
            top: 32px;
            left: 10px;
            width: 40px;
            height: 3px; }
      header .b-menu {
        position: relative; }
        header .b-menu.open {
          z-index: 2; }
          header .b-menu.open .b-bun--top {
            z-index: 1;
            top: 28px;
            transform: rotate(45deg); }
          header .b-menu.open .b-bun--mid {
            opacity: 0; }
          header .b-menu.open .b-bun--bottom {
            z-index: 1;
            top: 22px;
            left: 9px;
            transform: rotate(-45deg); }
      header .tab {
        display: none; }
      header .tab.open {
        z-index: 1;
        position: absolute;
        display: flex;
        align-self: flex-start;
        right: 0px;
        top: 0px;
        height: 100vh;
        width: 33vh;
        background: #FFCC3E;
        box-shadow: -6px 0px 13px rgba(35, 35, 35, 0.19); }
        header .tab.open nav {
          display: flex;
          flex-direction: column;
          flex-grow: 1; }
          header .tab.open nav li {
            padding: 10px; } }

#sun {
  width: 23px;
  height: 23px;
  position: absolute;
  margin-left: 1px;
  margin-top: 1px;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.64, 0.32, 0.56, 0.64); }

#moon {
  position: absolute;
  width: 21px;
  height: 21px;
  padding: 1px;
  margin-left: 50px;
  cursor: pointer;
  transform: rotateX(90deg);
  z-index: -1;
  transition: transform 0.4s cubic-bezier(0.64, 0.32, 0.56, 0.64); }

:root {
  --color-dark: #191919;
  --color-clear: #FFCD42;
  --color-btn-git: #564FCC;
  --color-btn-link: #0A66C2;
  --color-btn-cv: slateblue;
  --color-txt: rgba(255, 255, 255, 0.981); }

/*# sourceMappingURL=main.css.map */
