* {
  padding: 0px;
  margin: 0px;
  font-family: heebo;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: heebo;
  src: url(../../font/heebo.regular.ttf);
}

@font-face {
  font-family: heebo-bold;
  src: url(../../font/heebo.bold.ttf);
}

@font-face {
  font-family: heebo-medium;
  src: url(../../font/heebo.medium.ttf);
}

main {
  padding-left: 40px;
  padding-right: 40px;
}

main .conteudo {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 200px) and (max-width: 997px) {
  main .conteudo {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .conteudo p {
  max-width: 90vh;
  margin-top: 30px;
  margin-bottom: 38px;
  font-size: 1.1rem;
}

@media (min-width: 200px) and (max-width: 997px) {
  main .conteudo p {
    font-size: 3.5vw;
    text-align: center;
    width: auto;
    padding-inline: 20px;
    margin-bottom: 24px;
  }
}

main .conteudo #info {
  margin-right: 15px;
}

@media (min-width: 200px) and (max-width: 997px) {
  main .conteudo #info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .conteudo #info h1 {
  font-size: 3.4vw;
  font-family: heebo-bold;
}

@media (min-width: 200px) and (max-width: 997px) {
  main .conteudo #info h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
  }
}

main .conteudo button {
  width: 208px;
  height: 47px;
  border: none;
  background: var(--color-btn-cv);
  font-family: heebo-bold;
  font-size: 16px;
  color: aliceblue;
}

@media (min-width: 200px) and (max-width: 997px) {
  main #avatar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

header {
  margin-top: 27px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 60px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
}

header nav a {
  font-family: heebo-medium;
  color: black;
  text-decoration: none;
  margin-left: 40px;
  margin-bottom: 10px;
}

@media (min-width: 200px) and (max-width: 997px) {
  header nav {
    display: none;
  }
}

.jobs {
  background: var(--color-bg-job);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 60px;
}

.jobs h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.jobs .cards-job .card-jobs {
  background: #fdfdfd;
  padding: 20px;
  min-height: 300px;
  max-width: 400px;
  margin-bottom: 40px;
}

.jobs .cards-job .card-jobs p {
  font-size: 19px;
  color: #21243D;
}

.jobs .cards-job .card-jobs .text-h3-job img {
  display: none;
}

.jobs .cards-job .card-jobs .text-jobs {
  font-size: 17px;
  text-align: center;
  padding-top: 45px;
  color: black;
}

@media (min-width: 900px) {
  .jobs .cards-job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
  }
  .jobs .cards-job .card-jobs {
    margin: 15px;
  }
  .jobs .cards-job .card-jobs .text-h3-job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .jobs .cards-job .card-jobs .text-h3-job img {
    height: 65px;
    width: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .jobs .cards-job .card-jobs .text-h3-job #objetivo {
    height: 65px;
    width: 20vh;
  }
  .jobs .cards-job .card-jobs .text-p-job {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .jobs .cards-job .card-jobs .text-p-job p {
    padding-right: 50px;
  }
}

.certificados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certificados .certificado {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.certificados .certificado .img {
  width: 200px;
  height: 150px;
  background: #f2f2f2;
}

.certificados .certificado .img img {
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

:root {
  --color-btn-git: #000000;
  --color-btn-link: #2797CF;
  --color-btn-cv: #FF6464;
  --color-bg-job: #EDF7FA;
}
/*# sourceMappingURL=estilo.css.map */