* {
  padding: 0px;
  margin: 0px;
  font-family: heebo;
}

body {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  color: var(--color-txt);
}

@font-face {
  font-family: heebo;
  src: url(../../font/heebo.regular.ttf);
}
@font-face {
  font-family: heebo-bold;
  src: url(../../font/heebo.bold.ttf);
}
@font-face {
  font-family: heebo-medium;
  src: url(../../font/heebo.medium.ttf);
}
@font-face {
  font-family: heebo-black;
  src: url(../../font/heebo.black.ttf);
}
main {
  padding-left: 40px;
  padding-right: 40px;
}
main .conteudo {
  margin-top: 60px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: center;
}
@media (min-width: 200px) and (max-width: 997px) {
  main .conteudo {
    margin-top: 0;
    flex-direction: column;
  }
}
main .conteudo p {
  max-width: 90vh;
  margin-top: 30px;
  margin-bottom: 38px;
  font-size: 1.1rem;
}
@media (min-width: 200px) and (max-width: 997px) {
  main .conteudo p {
    font-size: 3.5vw;
    text-align: center;
    width: auto;
    padding-inline: 20px;
    margin-bottom: 24px;
  }
}
main .conteudo #info {
  margin-right: 15px;
}
@media (min-width: 200px) and (max-width: 997px) {
  main .conteudo #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
main .conteudo #info h1 {
  font-size: 3.4vw;
  font-family: heebo-bold;
}
@media (min-width: 200px) and (max-width: 997px) {
  main .conteudo #info h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
  }
}
main .conteudo button {
  width: 208px;
  height: 47px;
  border: none;
  background: var(--color-btn-cv);
  font-family: heebo-bold;
  font-size: 16px;
  color: aliceblue;
  transition-timing-function: ease-in-out;
  transition-delay: 150ms;
  transition-duration: 300ms;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .conteudo button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 15px;
  transition-duration: 300ms;
  transform: scale(1.2);
}
main #avatar {
  flex-direction: column;
  margin-left: 30px;
}
main #avatar #imagem-avatar {
  width: 105%;
  border-radius: 100%;
  transition-timing-function: ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 15px;
  transform: rotatey(0deg);
  transition-delay: 200ms;
}
main #avatar #imagem-avatar:hover {
  transform: rotatey(360deg);
  transition-duration: 650ms;
}
@media (min-width: 200px) and (max-width: 997px) {
  main #avatar {
    width: 80%;
    align-self: center;
  }
}

header {
  margin-top: 27px;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}
header nav {
  display: flex;
  font-size: 22px;
}
header nav a {
  font-family: heebo-medium;
  color: black;
  text-decoration: none;
  margin-left: 40px;
  margin-bottom: 10px;
}
@media (min-width: 200px) and (max-width: 997px) {
  header nav {
    display: none;
  }
}

.jobs {
  background: var(--color-bg-job);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}
.jobs h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.jobs .cards-job .card-jobs {
  background: rgb(253, 253, 253);
  padding: 20px;
  min-height: 300px;
  max-width: 400px;
  margin-bottom: 40px;
}
.jobs .cards-job .card-jobs p {
  font-size: 19px;
}
.jobs .cards-job .card-jobs .text-h3-job img {
  display: none;
}
.jobs .cards-job .card-jobs .text-jobs {
  font-size: 17px;
  text-align: center;
  padding-top: 45px;
}
@media (min-width: 900px) {
  .jobs .cards-job {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .jobs .cards-job .card-jobs {
    margin: 15px;
  }
  .jobs .cards-job .card-jobs .text-h3-job {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .jobs .cards-job .card-jobs .text-h3-job img {
    height: 65px;
    width: 65px;
    display: flex;
  }
  .jobs .cards-job .card-jobs .text-h3-job #objetivo {
    height: 65px;
    width: 20vh;
  }
  .jobs .cards-job .card-jobs .text-p-job {
    display: flex;
    justify-content: start;
  }
  .jobs .cards-job .card-jobs .text-p-job p {
    padding-right: 50px;
  }
}

.card {
  height: 600px;
  border-radius: 4px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.card h1 {
  margin-top: 60px;
}
.card .swiper {
  width: 100%;
  height: 100%;
}
.card .swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  text-align: center;
}
.card .swiper .swiper-slide p {
  padding-inline: 40px;
}
.card .swiper .swiper-slide img {
  padding: 20px;
  height: 100px;
  background: white;
}
.card .swiper .swiper-slide .rotulo {
  width: 60px;
  height: 25px;
  background: #142850;
  border-radius: 20px;
  color: white;
  margin: 10px;
  font-family: heebo-black;
  font-size: 15px;
  padding: 3px 9px 3px 9px;
  margin-bottom: 30px;
}
.card .swiper .swiper-slide a {
  align-self: flex-end;
  margin-right: 30px;
  margin-top: 16px;
  text-decoration: none;
  color: #0154A0;
  font-family: heebo-medium;
}
.card .dots .dot {
  height: 10px;
  width: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  opacity: 50%;
  margin-right: 2px;
  margin-bottom: 5px;
}
.card .dots .active {
  opacity: 100%;
}
@media (min-width: 900px) {
  .card {
    display: none;
  }
  .card .swiper {
    display: flex;
    flex-direction: row;
  }
}

.certificados {
  display: none;
}
.certificados .certificado {
  width: 94vw;
  height: 45vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 15px;
}
@media (min-width: 900px) {
  .certificados {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }
  .certificados .certificado {
    display: flex;
    flex-direction: row;
    margin: 40px;
  }
  .certificados .certificado .certificado-text {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .certificados .certificado .certificado-text h2 {
    align-self: flex-start;
  }
  .certificados .certificado .certificado-text a {
    align-self: flex-end;
    padding: 20px;
    font-family: heebo-medium;
    text-decoration: none;
    color: #0154A0;
  }
  .certificados .certificado .certificado-text .rotulo {
    width: 90px;
    height: 25px;
    background: #142850;
    border-radius: 20px;
    color: white;
    font-family: heebo-black;
    font-size: 15px;
    padding: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .certificados .certificado .certificado-text p {
    text-align: start;
  }
  .certificados .certificado img {
    padding: 20px;
    margin: 30px;
  }
}

.footer {
  background: rgb(221, 221, 221);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.footer .footer-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 20px;
}

:root {
  --color-btn-git: #000000;
  --color-btn-link: #2797CF;
  --color-btn-cv: #FF6464;
  --color-bg-job: #EDF7FA;
  --color-txt: #21243D;
}/*# sourceMappingURL=estilo.css.map */