.jobs{
    background: var(--color-bg-job);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;

    
    h1{
       margin-top: 40px;
    }

    .cards-job{
        .card-jobs{
            background: rgb(253, 253, 253);
            padding: 20px;
            min-height: 300px;
            max-width: 400px;
            margin-bottom: 40px;
        
                p{
                    font-size: 19px;
                    color: #21243D;
                }

                .text-h3-job{
                    img{
                        display: none;
                    }
                }
            
                .text-jobs{
                    font-size: 17px;
                    text-align: center;
                    padding-top:20px ;
                    color: black;
                }
        }
}

    @media(min-width: 900px){
      
        .cards-job{
            display: flex;
            flex-direction: row;
            padding: 10px;
            .card-jobs{
                margin:15px;
                .text-h3-job{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img{
                        height: 65px;
                        width: 65px;
                       display: flex;
                    }
                    #objetivo{
                        height: 65px;
                        width: 20vh;
                    }
                }
                .text-p-job{
                    display: flex;
                    justify-content: start;
                    p{
                        padding-right:50px;
                    }
                }
            }
        }
    }
}