.swiper{
    width: 100%;
  }

.jobs{
    background: var(--color-bg-job);
    align-items: center;
    text-align: center;
    margin-top: 60px;
  
    h1{
       margin-top: 40px;
       margin-bottom: 20px;
    }

    .cards-job{

        position: relative;
        .card-jobs{
   
            display: flex;
            flex-direction: column;
            background: rgb(253, 253, 253);
            padding: 20px;

            margin-bottom: 40px;
            position: relative;

            .text-p-job{
                font-size: 15px;
                font-weight: 600;   
                opacity: 0.6;
            }

            .text-jobs{
                font-size: 17px;
                text-align: center;
                padding-top: 25px ;        
            }
        }
}

    @media (min-width:200px) and (max-width: 997px){
      
        .cards-job{
            display: flex;
          
       
            width: 100vw;
            margin-bottom: 20px; 
            .card-jobs{
                margin: 0px;
              
                align-items: center;

                .text-jobs{
                    
                    padding-top:10px ;
               
                }
            }
        }
    }
}