.dark{
    p{
        color: white;
    }

   
    a{
        text-decoration: none;
    }
    h1{
        color: var(--color-txt);
    }
    .conteudo{
        #info{
            p{
                
            color:  var(--color-txt);
            }
            h1{
                color: var(--color-txt);
            }
        }
    }
    #sobre{
        background-color: #212121;
        transition: all 0.6s ease-in-out;
        p{
            color:  var(--color-txt);
        }

        .botoes{
            #linkedin{
                button {
                    background-color:black;
                }
            }

            #cv{
                button {
                    background-color:black;
                }
            }
        }
    }
   
  
    
    footer{
        background-color: black;
        background-image: linear-gradient(black,black);
        font-family: 'cursive';
     
    }

}



main{
    
    display: relative;
    h1{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 10%;
        font-size: 45px;
        font-family: monospace;
    } 
    
    @media(max-width: 576px){
        padding-top: 50px;
        h1{
            margin-left: 5%;
            font-size: 32px;
         }
    }

 

    .conteudo{ 
        
        display: flex;
        min-height: 85vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-content: space-around;
        
        #info{

            display: flex;
            flex-direction: column;
            margin-top: 120px;
            margin-right: 50px;
            margin-left: 120px;
            margin-bottom: 50px;
            padding: 20px;
            p{
                font-size: 20px;
                color: rgba(22, 22, 22, 0.672);
                img{
                    width: 23px;
                    vertical-align: bottom;
                }
            }
            
            h1{
                padding-top: 0px;
                padding-bottom: 0px;
                margin-left: 0;
                font-size: 60px;
                p{
                    display: inline;
                    font-size: 28px;
                }
            }
          
            
            #git{
                display: flex;
                justify-content: left;
                margin-top: 22px;
                padding-left: 6px;
                
                button{
                    cursor: pointer;
                    font-family:  'Segoe UI';
                    border-color: transparent;
                    font-weight: bold;
                    display: flex;
                    font-size: 13px;
                    justify-content: space-around;
                    align-items: center;
                    color: white;
                    width: 160px;
                    height: 45px;
                    border-radius: 30px;
                    background-color: var(--color-btn-git);
                    border-width: 1px;
                }

                img{
                    height: 28px;
                    width: 28px;
                }
            }
       

        }

        #imagem{
            padding-right: 20px;
            margin-top: -80px;
            svg{
               height: 100% !important; 
               height: 600px !important;
               padding: 0px;
               margin: 0px;
            }
        }

    

        @media(max-width: 576px){
            justify-content: left;
            align-items: flex-start;
            #info{
                margin-bottom: 20px;
                margin-top: 40px;
                margin-left: 15px;
                p{
                    
                    font-size:20px;
                    img{
                        width: 19px;
                        vertical-align: middle;
                        padding-left: 2px;
                    }
                }
                h1{
                    font-size: 40px;
                }  

                #git{
                margin: auto;
                padding-top:30px ;
                }
            }
            #imagem{ display: none; }
         
        }
     
    }
    
    #sobre{
       background: #FFDE66; 
       display: flex;
       flex-direction: column;
       transition: all 0.6s ease-in-out;         
        p{
            display: flex;
            margin-left: 10%;
            margin-right:25%;
            font-size: 20px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .botoes{
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: row;
            align-self:center;
            #linkedin{
                padding-right: 80px;
                button{
                    cursor: pointer;
                    font-size: 20px;
                    background-color:var(--color-btn-link);
                    color: white;
                    width: 150px;
                    height: 40px;
                    border-radius: 50px;
                    border-color: transparent;
                }                
            }
            
          
           
            #cv{
                button{
                    cursor: pointer;
                    font-size: 20px;
                    background-color:var(--color-btn-cv);
                    color: white;
                    width: 150px;
                    height: 40px;
                    border-radius: 50px;
                    border-color: transparent;
                }
                
            }
        
        }
 

        @media(max-width: 576px){
       
              
                 p{
                    margin-left: 5%;
                    margin-right:4%;
                 }
                 .botoes{
                     margin-bottom: 100px;
                    #linkedin{
                        button{
                            font-size: 17px;
                            width: 95px;
                            height: 40px;
                            border-radius: 10px;
                        } 
                    }  

                    #cv{
                        button{
                            font-size: 17px;
                            width: 95px;
                            height: 40px;
                            border-radius: 10px;
                        } 
                    }  
                }
        }
             
    }
  

    

    
    #projetos{
    margin-top: 10px;
    margin-bottom:40px;
        .projetos-container{
            display: flex;
            flex-direction: column;
            margin: auto;
            background-color: white;
            width: 300px;
            height: 300px;
            justify-content: center;
            #manutencao{
                display: flex;
                align-self: center;
                width: 50%;
                height: 50%;
            }
            h3{
                display: flex;
                align-self: center;
               
            }
        }

        @media(max-width: 576px){
            .projetos-container{
                width: 250px;
                height: 250px;
            }
        }
    }
    

    #conhecimentos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
        margin: auto;

        justify-content: center;
        .imagens{
            width: 4rem; height: 4rem;
            padding: 20px;
        }
        
        @media(max-width: 576px){
            width: 100%;
            flex-wrap: wrap;
            align-self: center;
            .projetos-container{
                margin-top: 20px;
                margin-left: 10px; 
                width: 200px;
                height: 200px;                
            }
        }
    }

 
}


footer{
    margin-top: 60px;
    height: 60px;
    background-image: linear-gradient(#FFD151, #FFB24D);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}