body{
    transition: all 0.6s ease-in;
    background: #FFCD42;
 
}

.dark{
        background-color: var(--color-dark);
        transition: all 0.6s ease-in;
        
        a{
            color: whitesmoke;
        }

        header{
            .toggle{
                border: 1px solid #131313;
                box-shadow: 1px 1px 4px rgba(250, 250, 250, 0.85);
                #circle{
                background-color: rgba(21, 21, 21, 0.631);
                width: 75px;
                transition:  width 0.4s cubic-bezier(.07,.14,.73,.97);
                box-shadow: 2px 2px 3px rgba(94, 94, 94, 0.871);
                }
            }

            .b-menu{
                .b-bun{
                    background: white;
                }
                &.open{
                    .tab{
                            background: #1f1f1f;
                            box-shadow: -3px 0px 16px rgba(241, 241, 241, 0.2);
                    
                        }
                }
            }

            .tab{
                &.open{
                    background: rgb(24, 24, 24);
                    box-shadow: -2px 0px 10px rgba(220, 220, 220, 0.659);
                }
            }
        
        }


        #sun{
            transform:rotateX(90deg);
            transition: transform 0.4s cubic-bezier(.64,.32,.56,.64);
      
            
        }
        #moon{
            transform:rotateX(0deg);
            z-index: 1;
            transition: transform 0.4s cubic-bezier(.64,.32,.56,.64);
        }
        .barra{
            border-bottom: transparent;
          
        }
    }

  @keyframes slideIn{
    0%{

    }

    100%{

    }


  }

header{
    position: relative;
    margin-top: 5px;  
    display: flex;
    padding: 8px;
    align-items: center;
   .tab{
       display: none;
   }
    nav{
        
        font-family:'Franklin Gothic Medium';
        font-size: 26px;
        display: flex;
        justify-content: center;
        
        a{
            color: black;
            text-decoration: none ;
            margin-left: 50px;
            margin-bottom: 10px;
        }
        .barra{
            position: absolute;
            border-bottom: 4px solid transparent;
            transform: rotateX(-10px);
            transition: all 0.8s ease-in-out;
            z-index: -1;
        }   
        
        
       
    }
   
    //Botão
    .toggle{
        z-index: 2;
        display: flex;
        border-radius: 60px;
        height: 24px;
        width: 75px;
        border: 1px solid #f8c418;
        overflow: hidden;
        box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.323);

        #circle{
            background-color: #FFFFA1;
            height: 26px;
            width: 26px;
            margin-top: -1px;
            border-radius: 40px;
            cursor: pointer;
          border: none;
            box-shadow:2px 1px 7px rgb(251, 255, 4);
            transition:  width 0.4s cubic-bezier(.07,.14,.73,.97);  
        }
    }
 
    @media(max-width: 576px) {
        justify-content: space-between;
        nav{
            display: none;
        }
        .b-menu{
            nav{
                display: none;
            }
            cursor: pointer;
            width: 60px;
            height: 60px;
            border-radius: 50%;  
            .b-bun{
                position: relative; 
                background: black; 
                transition: all .4s ease;
                &--top{
                top: 20px;
                left: 10px;
                width:40px;
                height: 3px;
                    }
    
                &--mid{
                top: 26px;
                left: 10px;
                width:40px;
                height: 3px;
                    }
    
                &--bottom{
                top: 32px;
                left: 10px;
                width:40px;
                height: 3px;
                    }       
             }

           
        }
  
        .b-menu{ 
            position: relative;
            &.open{
                z-index: 2;
 

                .b-bun--top{
                    z-index: 1;
                    top: 28px;
                    transform: rotate(45deg);
                }
                .b-bun--mid{
                    opacity: 0;
                }
                .b-bun--bottom{
                    z-index: 1;
                    top: 22px;
                    left: 9px;
                    transform: rotate(-45deg);
                }

                
            }
        }
        
        .tab{
            display: none;
        }

        .tab{
            &.open{
                z-index: 1;
                position: absolute;
                display: flex;
                align-self: flex-start;
                right: 0px;
                top: 0px;
                height: 100vh;
                width: 33vh;
                background: #FFCC3E;
                box-shadow: -6px 0px 13px rgba(35, 35, 35 , .19);
                nav{    
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    li{
                        padding: 10px;
                    }
                  }
            }
        }
    
     

      
    
    }
    
}



#sun{
    width: 23px;
    height: 23px;
    position: absolute;
    margin-left: 1px;
    margin-top: 1px;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(.64,.32,.56,.64);
}

#moon{
    position: absolute;
    width: 21px;
    height: 21px;
    padding: 1px;
    margin-left: 50px;
    cursor: pointer;
    transform:rotateX(90deg);
    z-index: -1;
    transition: transform 0.4s cubic-bezier(.64,.32,.56,.64);
}

